<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @profile.fullname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= raw @profile.tag_list.map{ |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %> | 
<%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>
